'.source.poe.filter':
  'Show':
    'prefix': 's'
    'body': 'Show\n  ${1:Filter}\n  ${2:Action}'

  'Hide':
    'prefix': 'h'
    'body': 'Hide\n  ${1:Filter}'

  'Header':
    'prefix': '#'
    'body': '##############################\n##  ${1:Heading}\n##############################'

  'BaseType':
    'prefix': 'Filter'
    'body': 'BaseType ${1:BT}\n'

  'Class':
    'prefix': 'Filter'
    'body': 'Class ${1:C}\n'

  'Action':
    'prefix': 'A'
    'body': 'SetTextColor ${1:C}\n'
