{
  "sourceMaps": "inline",
  "comments": false,
  "plugins": [
    "chai-assert-async",
    "transform-es2015-modules-commonjs",
    "transform-async-to-generator",
    "transform-class-properties",
    "transform-es2015-destructuring",
    "transform-es2015-parameters",
    "transform-object-rest-spread",
    "dynamic-import-node",
  ],
  "presets": []
}
