{
  "root": true,
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": "fbjs",
  "rules": {
    "linebreak-style": 0
  },
  "globals": {
    "atom": true,
    "assert": true,
    "HTMLElement": true,
    "MouseEvent": true,
    "IDBKeyRange": true,
    "before": true,
    "beforeEach": true,
    "after": true,
    "afterEach": true,
    "describe": true,
    "it": true,
    "stress": true,
    "waitsForPromise": true
  }
}
