'scopeName': 'source.poe'
'name': 'POE Item Filter'
'fileTypes': [
  'filter'
]
'patterns': [
  { 'include': '#line_comment' }
  {
    'name': 'show.block.poe'
    'begin': '^\\s*(Show)(\\s*(#.*))?$'
    'beginCaptures':
      '1':
        'name': 'keyword.block.show.poe'
      '3':
        'name': 'comment.trailing.poe'
    'end': "(?=^\\s*(Show|Hide))"
    'patterns': [
      { 'include': '#line_comment' }
      { 'include': '#conditionals' }
      { 'include': '#actions' }
    ]
  }
  {
    'name': 'hide.block.poe'
    'begin': '^\\s*(Hide)(\\s*(#.*))?$'
    'beginCaptures':
      '1':
        'name': 'keyword.block.hide.poe'
      '3':
        'name': 'comment.trailing.poe'
    'end': "(?=^\\s*(Show|Hide))"
    'patterns': [
      { 'include': '#line_comment' }
      { 'include': '#conditionals' }
    ]
  }
]
'repository':
  'line_comment':
    'name': 'comment.line.poe'
    'match': '^\\s*#+.*$'
  'empty_line':
    'name': 'line.empty'
    'match': '^\\s*$'
  'number':
    'match': '\\s*(([0-9]+)|("[0-9]+"))'
    'captures':
      '1':
        'name': 'constant.number.poe'
  'word':
    'name': 'string.word.poe'
    'match': '\\s*([A-Za-z\u00F6\\-]+)'
  'string':
    'match': '\\s*(\"[ \'0-9A-Za-z\u00F6()\\-]+\")'
    'captures':
      '1':
        'name': 'string.quotation.poe'
  'boolean':
    'match': '(?i)\\s*((True|False)|("(True|False)"))'
    'captures':
      '1':
        'name': 'string.boolean.poe'
  'rarity':
    'match': '\\s*(("(Normal|Magic|Rare|Unique)")|(Normal|Magic|Rare|Unique))'
    'captures':
      '1':
        'name': 'string.rarity.poe'
  'socket_group':
    'match': '(?i)\\s*(([rgbw]+)|("[rgbw]+"))'
    'captures':
      '1':
        'name': 'string.socket-group.poe'
  'operator':
    'match': '\\s*(>|>=|<|<=|=)'
    'captures':
      '1':
        'name': 'keyword.operator.poe'
  'conditionals':
    'patterns': [
      { 'include': '#empty_line' }
      {
        'name': 'filter.class.poe'
        'begin': '^\\s*(Class)\\s'
        'beginCaptures':
          '1':
            'name': 'keyword.cond.class.poe'
        'end': '\\s*$'
        'patterns': [
          { 'include': '#string' }
          { 'include': '#word' }
        ]
      }
      {
        'name': 'filter.base-type.poe'
        'begin': '^\\s*(BaseType)\\s'
        'beginCaptures':
          '1':
            'name': 'keyword.cond.base-type.poe'
        'end': '\\s*$'
        'patterns': [
          { 'include': '#string' }
          { 'include': '#word' }
        ]
      }
      {
        'name': 'filter.identified.poe'
        'begin': '^\\s*(Identified)\\s'
        'beginCaptures':
          '1':
            'name': 'keyword.cond.identified.poe'
        'end': '\\s*$'
        'patterns': [
          { 'include': '#boolean' }
        ]
      }
      {
        'name': 'filter.corrupted.poe'
        'begin': '^\\s*(Corrupted)\\s'
        'beginCaptures':
          '1':
            'name': 'keyword.cond.corrupted.poe'
        'end': '\\s*$'
        'patterns': [
          { 'include': '#boolean' }
        ]
      }
      {
        'name': 'filter.item-level.poe'
        'begin': '^\\s*(ItemLevel)\\s'
        'beginCaptures':
          '1':
            'name': 'keyword.cond.item-level.poe'
        'end': '\\s*$'
        'patterns': [
          { 'include': '#operator' }
          { 'include': '#number' }
        ]
      }
      {
        'name': 'filter.drop-level.poe'
        'begin': '^\\s*(DropLevel)\\s'
        'beginCaptures':
          '1':
            'name': 'keyword.cond.drop-level.poe'
        'end': '\\s*$'
        'patterns': [
          { 'include': '#operator' }
          { 'include': '#number' }
        ]
      }
      {
        'name': 'filter.quality.poe'
        'begin': '^\\s*(Quality)\\s'
        'beginCaptures':
          '1':
            'name': 'keyword.cond.quality.poe'
        'end': '\\s*$'
        'patterns': [
          { 'include': '#operator' }
          { 'include': '#number' }
        ]
      }
      {
        'name': 'filter.rarity.poe'
        'begin': '^\\s*(Rarity)\\s'
        'beginCaptures':
          '1':
            'name': 'keyword.cond.rarity.poe'
        'end': '\\s*$'
        'patterns': [
          { 'include': '#operator' }
          { 'include': '#rarity' }
        ]
      }
      {
        'name': 'filter.sockets.poe'
        'begin': '^\\s*(Sockets)\\s'
        'beginCaptures':
          '1':
            'name': 'keyword.cond.sockets.poe'
        'end': '\\s*$'
        'patterns': [
          { 'include': '#operator' }
          { 'include': '#number' }
        ]
      }
      {
        'name': 'filter.linked-sockets.poe'
        'begin': '^\\s*(LinkedSockets)\\s'
        'beginCaptures':
          '1':
            'name': 'keyword.cond.linked-sockets.poe'
        'end': '\\s*$'
        'patterns': [
          { 'include': '#operator' }
          { 'include': '#number' }
        ]
      }
      {
        'name': 'filter.socket-group.poe'
        'begin': '^\\s*(SocketGroup)\\s'
        'beginCaptures':
          '1':
            'name': 'keyword.cond.socket-group.poe'
        'end': '\\s*$'
        'patterns': [
          { 'include': '#socket_group' }
        ]
      }
      {
        'name': 'filter.height.poe'
        'begin': '^\\s*(Height)\\s'
        'beginCaptures':
          '1':
            'name': 'keyword.cond.height.poe'
        'end': '\\s*$'
        'patterns': [
          { 'include': '#operator' }
          { 'include': '#number' }
        ]
      }
      {
        'name': 'filter.width.poe'
        'begin': '^\\s*(Width)\\s'
        'beginCaptures':
          '1':
            'name': 'keyword.cond.width.poe'
        'end': '\\s*$'
        'patterns': [
          { 'include': '#operator' }
          { 'include': '#number' }
        ]
      }
    ]
  'actions':
    'patterns': [
      { 'include': '#empty_line' }
      {
        'name': 'filter.set-border-color.poe'
        'begin': '^\\s*(SetBorderColor)'
        'beginCaptures':
          '1':
            'name': 'keyword.action.set-border-color.poe'
        'end': '\\s*$'
        'patterns': [
          { 'include': '#number' }
        ]
      }
      {
        'name': 'filter.set-text-color.poe'
        'begin': '^\\s*(SetTextColor)'
        'beginCaptures':
          '1':
            'name': 'keyword.action.set-text-color.poe'
        'end': '\\s*$'
        'patterns': [
          { 'include': '#number' }
        ]
      }
      {
        'name': 'filter.set-background-color.poe'
        'begin': '^\\s*(SetBackgroundColor)'
        'beginCaptures':
          '1':
            'name': 'keyword.action.set-background-color.poe'
        'end': '\\s*$'
        'patterns': [
          { 'include': '#number' }
        ]
      }

      {
        'name': 'filter.play-alert-sound.poe'
        'begin': '^\\s*(PlayAlertSound)'
        'beginCaptures':
          '1':
            'name': 'keyword.action.play-alert-sound.poe'
        'end': '\\s*$'
        'patterns': [
          { 'include': '#number' }
        ]
      }
      {
        'name': 'filter.set-font-size.poe'
        'begin': '^\\s*(SetFontSize)'
        'beginCaptures':
          '1':
            'name': 'keyword.action.set-font-size.poe'
        'end': '\\s*$'
        'patterns': [
          { 'include': '#number' }
        ]
      }
    ]
