'scopeName': 'source.poe'
'name': 'POE Item Filter'
'fileTypes': [
  'filter'
]
'patterns': [
  {
    'comment': 'Match a show block'
    'begin': 'Show(\r|\n)'
    'end': '(?=^\\S|^(\r|\n)*$)'
    'name': 'show.block.poe'
    'beginCaptures':
      '0':
        'name': 'show.block.begin.poe'
    'patterns': [
      {
        'include': '#filters'
      }
      {
        'include': '#actions'
      }
    ]
  }
  {
    'comment': 'Match a hide block'
    'begin': 'Hide(\r|\n)'
    'end': '(?=^\\S|^(\r|\n)*$)'
    'name': 'hide.block.poe'
    'beginCaptures':
      '0':
        'name': 'hide.block.begin.poe'
    'patterns': [
      {
        'include': '#filters'
      }
    ]
  }
  {
    'comment': 'Section heading'
    'name': 'comment.header.poe'
    'begin': '###+'
    'beginCaptures':
      '0':
        'name': 'comment.header.begin.poe'
    'end': '###+'
    'endCaptures':
      '0':
        'name': 'comment.header.end.poe'
  }
]
'repository':
  'filters':
    'patterns': [
      {
        'comment': 'Class filter'
        'begin': '^\\s*(Class)'
        'name': 'filter.class.poe'
        'end': '(\\r|\\n)'
        'patterns': [
          {
            'match': '\\s+(\".*\"|\\S+|class)'
            'captures':
              '1':
                'name': 'filter.class.value.type.poe'
          }
        ]
      }
      {
        'comment': 'BaseType filter'
        'begin': '^\\s*(BaseType)'
        'name': 'filter.basetype.poe'
        'end': '(\\r|\\n)'
        'patterns': [
          {
            'match': '\\s+(\".*\"|\\S+|type)'
            'captures':
              '1':
                'name': 'filter.basetype.value.type.poe'
          }
        ]
      }
      {
        'comment': 'Identified filter'
        'begin': '^\\s*(Identified)'
        'name': 'filter.identified.poe'
        'end': '(\\r|\\n)'
        'patterns': [
          {
            'match': '\\s+([Tt]rue|[Ff]alse)'
            'captures':
              '1':
                'name': 'filter.identified.value.bool.poe'
          }
        ]
      }
      {
        'comment': 'ItemLevel filter'
        'begin': '^\\s*(ItemLevel)(\\s+([<>=]+|\\[operator\\]))?'
        'name': 'filter.itemlevel.poe'
        'beginCaptures':
          '3':
            'name': 'filter.itemlevel.operator.poe'
        'end': '(\\r|\\n)'
        'patterns': [
          {
            'match': '\\s+(1?\\d{1,2}|level)'
            'captures':
              '1':
                'name': 'filter.itemlevel.value.level.poe'
          }
        ]
      }
      {
        'comment': 'DropLevel filter'
        'begin': '^\\s*(DropLevel)(\\s+([<>=]+|\\[operator\\]))?'
        'name': 'filter.droplevel.poe'
        'beginCaptures':
          '3':
            'name': 'filter.droplevel.operator.poe'
        'end': '(\\r|\\n)'
        'patterns': [
          {
            'match': '\\s+(1?\\d{1,2}|level)'
            'captures':
              '1':
                'name': 'filter.droplevel.value.level.poe'
          }
        ]
      }
      {
        'comment': 'Quality filter'
        'begin': '^\\s*(Quality)(\\s+([<>=]+|\\[operator\\]))?'
        'name': 'filter.quality.poe'
        'beginCaptures':
          '3':
            'name': 'filter.quality.operator.poe'
        'end': '(\\r|\\n)'
        'patterns': [
          {
            'match': '\\s+([12]?\\d|quality)'
            'captures':
              '1':
                'name': 'filter.quality.value.amount.poe'
          }
        ]
      }
      {
        'comment': 'Rarity filter'
        'begin': '^\\s*(Rarity)(\\s+([<>=]+|\\[operator\\]))?'
        'name': 'filter.rarity.poe'
        'beginCaptures':
          '3':
            'name': 'filter.rarity.operator.poe'
        'end': '(\\r|\\n)'
        'patterns': [
          {
            'match': '\\s+(Normal|Magic|Rare|Unique|rarity)'
            'captures':
              '1':
                'name': 'filter.rarity.value.tier.poe'
          }
        ]
      }
      {
        'comment': 'Sockets filter'
        'begin': '^\\s*(Sockets)(\\s+([<>=]+|\\[operator\\]))?'
        'name': 'filter.sockets.poe'
        'beginCaptures':
          '3':
            'name': 'filter.sockets.operator.poe'
        'end': '(\\r|\\n)'
        'patterns': [
          {
            'match': '\\s+([0-6]|sockets)'
            'captures':
              '1':
                'name': 'filter.sockets.value.amount.poe'
          }
        ]
      }
      {
        'comment': 'Linked Sockets filter'
        'begin': '^\\s*(LinkedSockets)(\\s+([<>=]+|\\[operator\\]))?'
        'name': 'filter.linkedsockets.poe'
        'beginCaptures':
          '3':
            'name': 'filter.linkedsockets.operator.poe'
        'end': '(\\r|\\n)'
        'patterns': [
          {
            'match': '\\s+([02-6]|links)'
            'captures':
              '1':
                'name': 'filter.linkedsockets.value.amount.poe'
          }
        ]
      }
      {
        'comment': 'Socket Group filter'
        'begin': '^\\s*(SocketGroup)'
        'name': 'filter.socketgroup.poe'
        'end': '(\\r|\\n)'
        'patterns': [
          {
            'match': '\\s+([RGBW]+|group)'
            'captures':
              '1':
                'name': 'filter.socketgroup.value.group.poe'
          }
        ]
      }
      {
        'comment': 'Height filter'
        'begin': '^\\s*(Height)(\\s+([<>=]+|\\[operator\\]))?'
        'name': 'filter.height.poe'
        'beginCaptures':
          '3':
            'name': 'filter.height.operator.poe'
        'end': '(\\r|\\n)'
        'patterns': [
          {
            'match': '\\s+([1-4]|height)'
            'captures':
              '1':
                'name': 'filter.height.value.amount.poe'
          }
        ]
      }
      {
        'comment': 'Width filter'
        'begin': '^\\s*(Width)(\\s+([<>=]+|\\[operator\\]))?'
        'name': 'filter.width.poe'
        'beginCaptures':
          '3':
            'name': 'filter.width.operator.poe'
        'end': '(\\r|\\n)'
        'patterns': [
          {
            'match': '\\s+(1|2|width)'
            'captures':
              '1':
                'name': 'filter.width.value.amount.poe'
          }
        ]
      }
    ]
  'actions':
    'patterns': [
      {
        'comment': 'Play Alert Sound'
        'match': '(PlayAlertSound)\\s+(\\d|id)(\\s+(1?\\d{1,2}|\\[volume\\]))?'
        'name': 'action.alert.poe'
        'captures':
          '2':
            'name': 'action.alert.value.sound.poe'
          '4':
            'name': 'action.alert.value.volume.poe'
      }
      {
        'comment': 'Set Font Size'
        'match': '(SetFontSize)\\s+([1-4]\\d|size)'
        'name': 'action.font.poe'
        'captures':
          '2':
            'name': 'action.font.value.size.poe'
      }
      {
        'comment': 'Set Background Colour'
        'match': '(SetBackgroundColor)\\s+(25[0-5]|2[0-4]\\d|1?\\d{1,2}|red)\\s+(25[0-5]|2[0-4]\\d|1?\\d{1,2}|green)\\s+(25[0-5]|2[0-4]\\d|1?\\d{1,2}|blue)(\\s+(25[0-5]|2[0-4]\\d|1?\\d{1,2}|\\[alpha\\]))?'
        'name': 'action.background.poe'
        'captures':
          '2':
            'name': 'action.background.value.red.poe'
          '3':
            'name': 'action.background.value.green.poe'
          '4':
            'name': 'action.background.value.blue.poe'
          '6':
            'name': 'action.background.value.alpha.poe'
      }
      {
        'comment': 'Set Border Colour'
        'match': '(SetBorderColor)\\s+(25[0-5]|2[0-4]\\d|1?\\d{1,2}|red)\\s+(25[0-5]|2[0-4]\\d|1?\\d{1,2}|green)\\s+(25[0-5]|2[0-4]\\d|1?\\d{1,2}|blue)(\\s+(25[0-5]|2[0-4]\\d|1?\\d{1,2}|\\[alpha\\]))?'
        'name': 'action.border.poe'
        'captures':
          '2':
            'name': 'action.border.value.red.poe'
          '3':
            'name': 'action.border.value.green.poe'
          '4':
            'name': 'action.border.value.blue.poe'
          '6':
            'name': 'action.border.value.alpha.poe'
      }
      {
        'comment': 'Set Text Colour'
        'match': '(SetTextColor)\\s+(25[0-5]|2[0-4]\\d|1?\\d{1,2}|red)\\s+(25[0-5]|2[0-4]\\d|1?\\d{1,2}|green)\\s+(25[0-5]|2[0-4]\\d|1?\\d{1,2}|blue)(\\s+(25[0-5]|2[0-4]\\d|1?\\d{1,2}|\\[alpha\\]))?'
        'name': 'action.text.poe'
        'captures':
          '2':
            'name': 'action.text.value.red.poe'
          '3':
            'name': 'action.text.value.green.poe'
          '4':
            'name': 'action.text.value.blue.poe'
          '6':
            'name': 'action.text.value.alpha.poe'
      }
    ]
