@import "ui-variables.less";
@import "syntax-variables.less";

atom-text-editor::shadow .poe {
  .keyword {
    &.block {
      color: @syntax-color-class
    }

    &.cond {
      color: lighten(@syntax-color-function, 5%)
    }

    &.action {
      color: darken(@syntax-color-function, 5%)
    }

    &.operator {
      color: @syntax-text-color
    }
  }

  .comment {
    &.trailing {
    }

    &.line {
    }
  }

  .constant {
    &.number {

    }
  }

  .string {
    &.word {

    }

    &.quotation {

    }

    &.rarity {
      
    }

    &.socket-group {

    }


    &.boolean {

    }
  }
}
