atom-text-editor::shadow {
  .show.begin.poe {
    color: #ccff99;
  }
  .filter.poe {
    color: #66ccff;
  }
  .filter.value.poe {
    color: #cceeff;
  }
  .action.poe {
    color: #b3b3ff;
  }
  .action.value.poe {
    color: #e6e6ff;
  }
  .operator.poe {
    color: #ffffff;
  }
  .comment.poe {
    color: #666666;
  }
  .hide.begin.poe {
    color: #ccff99;
  }
}
