@import "ui-variables.less";
@import "syntax-variables.less";

atom-text-editor.editor .syntax--poe {
  .syntax--keyword {
    &.syntax--block {
      color: @syntax-color-class
    }

    &.syntax--cond {
      color: lighten(@syntax-color-function, 5%)
    }

    &.syntax--action {
      color: darken(@syntax-color-function, 5%)
    }

    &.syntax--operator {
      color: @syntax-text-color
    }
  }

  .syntax--comment {
    &.syntax--trailing {
    }

    &.syntax--line {
    }
  }

  .syntax--constant {
    &.syntax--number {

    }
  }

  .syntax--string {
    &.syntax--word {

    }

    &.syntax--quotation {

    }

    &.syntax--rarity {

    }

    &.syntax--socket-group {

    }


    &.syntax--boolean {

    }
  }
}
